*,
*::before,
*::after {
    box-sizing: border-box;
}

body > main {
    margin-top: 106px;
  }

svg {
    width: 25px;
}
/*header*/
header {
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 7px #777;
    transition: background-color 0.4s ease-out; 
    top: 0;
}
header.scroll {
    background-color: #161616;
}
header.scroll .nav-link {
    color: #fff;
}
header.scroll .nav-link:hover {
    color: #178c46;
}
.navbar {
}
.navbar-expand-lg {
}

.container-fluid {
    
}
.navbar-brand {
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
    margin: auto;
}
.me-auto {
}
.nav-item {
}
.nav-item + .nav-item {
    margin-left: 50px;
}
.nav-link {
    color: #178c46;
    font-size: 18px;
    line-height: 24px;
}
.hover3{
    position: relative;
    overflow: hidden;
    padding-bottom: 4px;
    display: inline-block;
    border-bottom: #178c46;
  }
  
  .hover3:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border: 1px solid #000000;
    position: absolute;
    left: 0;
    bottom: 0;
  
    transform: translate3d(-102%, 0, 0);
    transition: transform .2s ease-in;
  }
  
  .hover3:hover:after,
  .hover3:focus:after{
    transform: translate3d(0, 0, 0);
  }
  header.scroll .hover3:after {
    border: 1px solid #178c46;
  }
.d-flex {
}
.form-control {
    border: none;
    border-radius: 0px;
    width: 75%;
    border-bottom: 1px solid #178c46;
    background: bottom;
}
.form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #178c46;
}
header.scroll .form-control:focus {
    background: bottom;
    color: #fff;
}

.btn {
    border: none;
    padding: 0;
}
.btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #060606;
}
header.scroll .btn {
    background: bottom;
    color: #ffffff;
}
header.scroll .btn:hover {
    background: bottom;
    color: #178c46;
}
.btn-outline-success {
}
.search {
    width: 20px;
}
.language {
    margin-left: 20px;
}
.ua_uk {
    width: 35px;
}

.ua_uk + .ua_uk {
    margin-left: 15px;
}

/*section_top*/
.section_top {
    background-image: url(../Images/agiliway.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}
.eclipse {
    width: 100%;
    height: 100%;
    background-color: rgb(7 179 76 / 40%);
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 16px 0px 4px;
    }
}
    
@media (max-width: 992px){
    /*header*/
    header.scroll .navbar-toggler {
        background-color: #fff;
    }
    .navbar-toggler-icon {
        width: 30px;
        height: 30px;
    }
    .navbar-collapse {
        background-color: #000;
    }
    .nav-item {
        display: flex;
        border-bottom: 1px solid #fff;
        width: 100%;
        justify-content: center;
    }
    .nav-item + .nav-item{
        margin: auto;
    }
    .nav-link:focus, .nav-link:hover {
        color: #fff;
    }
    .nav-link {
        margin-bottom: 10px;
    }
    
    .form-control {
        display: none;
    }
    .btn {
        display: none;
    }

    /*section_top*/
    .section_top {
        max-height: 615px;
    }
}

@media (max-width: 934px){
    /*section_top*/
    .section_top {
        background-size: contain;
    }
}
@media (max-width: 820px){
    /*section_top*/
    .section_top {
        height: 549px;;
    }
}
@media (max-width: 768px) {
    .section_top {
        height: 513px;
    }
}
@media (max-width: 540px) {
    .section_top {
        height: 361px;
    }
}
@media (max-width: 414px) {
    .section_top {
        height: 274px;
    }
}
@media (max-width: 360px) {
    .section_top {
        height: 241px;
    }
}
@media (max-width: 320px) {
    .section_top {
        height: 215px;
    }
}