*,
*::before,
*::after {
    box-sizing: border-box;
}



/*header*/

.navbar {
}
.navbar-expand-lg {
}
.bg-light {
    padding: 0px;
}
.container-fluid {
    background-color: #ffffff;
    padding: 10px;
}
.navbar-brand {
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
    margin: auto;
}
.me-auto {
}
.mb-2 {
}
.mb-lg-0 {
}
.nav-item {
}
.nav-item + .nav-item {
    margin-left: 50px;
}
.nav-link {
    color: #178c46;
    font-size: 18px;
    line-height: 24px;
}
.d-flex {
}
.form-control {
    border: none;
    border-radius: 0px;
    width: 75%;
    border-bottom: 1px solid #178c46;
}
.form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #178c46;
}
@media (max-width: 993px){
    .navbar-collapse {
        background-color: #000;
    }
    .nav-item {
        margin: auto;
    }
    .nav-item + .nav-item{
        margin: auto;
    }
    .nav-link {
        border-bottom: 1px solid #fff;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .form-control {
        display: none;
    }
    .btn {
        display: none;
    }
}
.me-2 {
}
.btn {
    background-color: #fff;
    border: none;
    padding: 0;
}
.btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-success {
}
.search {
    width: 20px;
}
.language {
    margin-left: 20px;
}
.ua_uk {
    width: 15px;
}

/*section_top*/
.section_top {
    background-image: url(../Images/agiliway.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}